body {
  background-color: pink;
}

#main,
#shareResult {
  background-color: whitesmoke;
  width: 80%;
}

#qna,
#result {
  display: none;
  width: 80%;
}

* {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
